body{
		color: #000;
		background-image: url("fundoclaro.jpg");
}
h1{
	font-size: 60px;
	font-family: Garamond, Times New Roman, Serif;
	color: green;
 	font-weight: bold;
	margin-left: 0 auto;
	margin-right: 0 auto;
	text-align: center;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}
h2{
	font-size: 14px;
	font-family: Verdana, Arial, sans-serif;	
	color: green;
	padding: 20;
	margin: 20;
}
p{
	font-size: 16px;
	font-family: Verdana, Arial, sans-serif;
	color: green;	
	margin: 0 auto;
	text-align: center;
	border: 0px white;
	padding: 5px 0;
}
.todo{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}
.item{
	height: 130px;
	min-height: 145px;
	width: 360px;
	display: inline-block;
	vertical-align: top;
}
.ocultaritem{
	display: none !important;
}
/*.item:hover{
	border-radius: 10px;
	border: 1px solid #888;
	background-color: #ddd;
}*/
.filtragem{
    display: flex;
    justify-content: center;
    align-items: center;
}
.campoFiltragem{
    display: flex;
		font-size: 18px;
    font-family: Verdana, Arial, sans-serif;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
/*    box-sizing: border-box;*/
    width: 300px;
 		padding: 5px;
		margin: 5px;
}
.labelFiltragem{
 		padding: 5px;
		margin: 5px;
}
.inputFiltragem{
 		padding: 5px;
		margin: 5px;
		border-radius: 10px;
    border: 3px solid #888 !important;
	  width: 90%;
}
a:link{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
/* modo escuro */
@media (prefers-color-scheme: dark) { 
  body{
		color: #fff;
		background-image: url("fundoescuro.jpg");
}
  }
	a:link{
		color: #fff;
	}
	a:visited{
		color: #88f;
	}
/*  .item:hover{
		background-color: #111;
	}*/
}